PORT=5000
NODE_ENV=production
DATABASE_URL="postgresql://postgres.beocunwunekmatnktmfe:Boythach199*@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?schema=public&sslmode=require&pgbouncer=true"
JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://34.143.129.107:3110"
ADMIN_SEED_EMAIL="admin@luminamaison.com"
ADMIN_SEED_PASSWORD="Admin@123456"
SUPABASE_URL="https://beocunwunekmatnktmfe.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlb2N1bnd1bmVrbWF0bmt0bWZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTExODUzOSwiZXhwIjoyMDkwNjk0NTM5fQ.0ZDza8E993JTr6KPvlVi9VXY0k8YrsgaCFHv1SspzbM"
SUPABASE_STORAGE_BUCKET="products-furniture"
SUPABASE_STORAGE_FOLDER="furniture-store-x"

