[Unit]
Description=Noi That Viet Hung Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/app/furniture-store/noithat-viethung/backend
EnvironmentFile=/var/www/app/furniture-store/noithat-viethung/backend/.env
# User=www-data
# Group=www-data
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
